@page "/java"
@* @rendermode InteractiveServer *@

<PageTitle>Workout List</PageTitle>

<NavLink class="nav-link" href="/">
Home
</NavLink>

<h1 class="text-center">Workout List</h1>

<p class="text-center">
	Workout List is my first Java project as well as the first time I used object oriented design and programming. <br /> I started working on this during my Java bootcamp with Firebrand. It allows users to create and manage lists where they add or remove exercises.
	<br />The source code can be found <a href="https://github.com/Elnubbio/WorkoutApp">here</a>.
</p>
<p class="text-center">
	I'm planning on integrating the Java code into this page but until then here are screenshots of it working:
</p>

<div class="text-center">
	<img src="\assets\homepage\JavaCover.png" class="img-fluid" height="200px">
</div>
@code {
}