@page "/pokefetch"
@* @rendermode InteractiveServer *@

<PageTitle>Pokefetch</PageTitle>

<NavLink class="nav-link" href="/">
Home
</NavLink>

<h1 class="text-center">Pokefetch</h1>

<p class="text-center">
	Pokefetch is my API fetcher that retrieves a user's choice of a Pokemon's sprites as .png files and stats as a .txt file. 
	The source code can be found <a href="https://github.com/Elnubbio/Pokefetch">here</a>.
</p>
<p class="text-center">
	I'm planning on integrating the JavaScript into this page but until then here are screenshots of it working:
</p>

<div class="text-center">
	<img src="\assets\homepage\PokefetchCover.png" class="img-fluid" height="200px">
</div>
@code {
}